/* ComboBox chung */
.combo-box {
    -fx-background-color: linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius: 4px;
    -fx-border-color: linear-gradient(to bottom,#f39c12 , #ffd597);
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-padding: 3px; /* Đệm bên trong */
    -fx-font-size: 14px;
}

/* Khi ComboBox được focus */
.combo-box:focused {
    -fx-border-width: 2px;
    -fx-background-color: #fff;
}

/* Mũi tên dropdown */
.combo-box .arrow {
    -fx-background-color: linear-gradient(to bottom,#f39c12 , #ffd597);
    -fx-background-radius: 4px;
    -fx-padding: 5px;
}

/* Danh sách các mục trong ComboBox */
.combo-box-popup {
    -fx-background-color: #fff;
    -fx-background-radius: 4px;
    -fx-border-color:  #c7a065;
    -fx-border-width: 1px;
    -fx-padding: 5px;
}

/* Mục trong danh sách khi di chuột qua */
.combo-box-popup .list-cell:hover {
    -fx-background-color: #f39c12;
    -fx-text-fill: #fff;
}

/* Mục được chọn */
.combo-box-popup .list-cell:selected {
    -fx-background-color:  #c7a065;
    -fx-text-fill: #fff;
}
